@model Portfolio.WebUI.Model.Entity.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
